<h1 style="color:red">
    Log In Doctores
</h1>

<form method="post">
    <label>Apellido: </label>
    <input type="text" name="username"
           class="form-control" />
    <br />
    <label>Password: </label>
    <input type="text" name="password"
           class="form-control" />
    <br />
    <button type="submit" class=" btn btn-outline-info">
        Log In
    </button>
</form>
<h1 style="color:red">
    @ViewData["MENSAJE"]
</h1>