@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a asp-controller="Doctores"
           asp-action="PerfilDoctor"
           class="nav-link">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Manage"
           asp-action="LogOut"
           class="nav-link text-danger">
            Log Out, @Context.User.Identity.Name
        </a>
    </li>
}